---
layout: default
---
<div class="home"></div>
  <ul style="list-style-type: circle"> 
      {% assign learn = site.Learn | sort:"order" %}
      {% for entry in learn %}
          <!-- <li> -->
          <h3>
              <a href="{{site.baseurl}}{{entry.url}}">
              {{ entry.title }}
              </a>
          </h3>
          {% if entry.highlights %}
          ({{ entry.highlights }})
          {% endif %}
          <!-- </li> -->
      {% endfor %}
      <h3>
        <a href="https://www.youtube.com/watch?v=TLB5MY9BBa4">Github Action tutorial</a>
      </h3>
      <h3>
        <a href="https://drive.google.com/file/d/1CYW2lLYIMwuh4z-aiGfIbmw58Hd4g5kV/view?usp=drive_link">Module Federation</a>
      </h3>
  </ul>